body{
    background: url("../images/lenin-bg.jpg");
    background-repeat: repeat;
}

#main-header {
    height: 100px;
    background-color: black;
    color: red;
    font-family: 'Orbitron', sans-serif;
    font-size: 50px;
    text-align: center;
    margin: -8px;
    padding-top: 15px;
}

@media screen and (max-width:999px) {
    #main-header {
        height: 100%;
    }
}
