body{
    background: url("../images/lenin-bg.jpg");
    background-repeat: repeat;
}

#main-header {
    height: 40px;
    background-color: black;
    color: red;
    font-family: 'Orbitron', sans-serif;
    font-size: 25px;
    text-align: center;
    margin: -8px;
    padding-top: 15px;
}

.row {
    clear: both;
}

.row div {
    padding: 70px;
    border: 1px solid black;
    height: 10px;
    float: left;
    background-color: gray;
}

#game-field {
    margin-left: 27%;
    margin-top: 25px;
}