body{
    background-image: url("http://img.timeinc.net/time/photoessays/2011/iconic_leaders/icon00000000018.jpg");
    background-repeat: repeat;
}

#main-header {
    height: 100px;
    background-color: black;
    color: red;
    font-family: 'Orbitron', sans-serif;
    font-size: 50px;
    text-align: center;
    margin: -8px;
    padding-top: 15px;
}

